.tasklist .li:hover::before {
  transform: scale(2);
  color: #ff0000;
  content: "Recuerde que para Delete debe completar la tarea";
  background-color: #ffffff;
  transition: all 0.3s ease;
  border-radius: 10%;
  font-weight: bold;
  margin-right: 5px;
  top: 5px;
}
