/*body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }*/
  body {
    
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    display: inline;
    margin-right: 10px;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  main {
    padding: 20px;
  }