.task-list {
  list-style: none;
  padding: 0;
}

.task {
  margin-bottom: 10px;
  background-color: #e20404;
  padding: 10px;
  border-radius: 4px;
}

.task.completed {
  text-decoration: line-through;
  color: gray;
}