.task-list {
    list-style: none;
    margin-bottom: 10px;
    background-color: #a7ddee;
    padding: 10px;
    border-radius: 4px;
  }
  
  .task.completed {
    text-decoration: line-through;
    color: gray;
  }
  ul {
    all: unset;
    padding: 0;
    margin: 0;
   
  }
  ul li:before {
    content: "\2022"; /* Utiliza un símbolo personalizado */
    color: #ff0000; /* Color personalizado */
    font-weight: bold; /* Estilo de fuente personalizado */
    margin-right: 5px; /* Espacio entre el marcador y el contenido del elemento */
  }
   
  li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    
  }
    
  li::before {
    content: "Para eliminar la tarea es necesario completarla";
    position: absolute;
    top: 5px;
    left: 400px;
    width: 100px;
    height: 20px;
    background-color: #eed3b4;
    border-radius: 10%;
    transform: scale(0);
    transition: all 0.3s ease;
    font-size: 50%;
  }
  
  li:hover::before {
    transform: scale(2);
    content: "Recuerde Que para eliminar debe completar la tarea";
  }
  
  li span {
    font-size: 18px;
  }
  .task-print {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
  li span.task-name {
    font-weight: bold;
  }
  li span.task-name {
    font-weight: bold;
  }
  
  li span.task-description {
    font-weight: bold;
  }