body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  font-size: 14px;
}

.task-item {
  background-color: #fff;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.task-item:hover {
  background-color: #f9f9f9;
}

.checkbox {
  margin-right: 10px;
}

.task-name {
  text-decoration: none;
  color: #333;
  margin-left: 15px;
  font-size: 12px;
  flex-grow: 1;
}
/*
button{
  padding: 8px 12px;
  background-color: #377bd4;
  color: #fff;
  /*border: none;*/
 /* border-radius: 5px;
  
  cursor: pointer;
  font-size: 14px;
  margin-left: auto; /* Mueve los botones a la derecha */
  /*transition: background-color 0.3s ease;
}
*/

.edit-button,.delete-button,.save-button {
  padding: 5px;
  background-color: #ccd2f8;
   color: #333;
  /*border: none;*/
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  margin-left: auto;
  transition: background-color 0.3s ease;
}
.edit-button img, .delete-button img, .save-button img  {
  margin-right: 5px;
  height: 20px;
  width: 20px;
}

.edit-button:hover {
  background-color: #0efaab;
}
.delete-button:hover {
  background-color: #d84d4d;
}
.task-container {
  display: flex;
  align-items: center;
}

.button-group {
  margin-left: auto;
}

.button-group button {
  margin-left: 10px;
}