body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  font-size: 12px;
}
.text-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
}

.text-input:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 3px rgba(76, 175, 80, 0.5);
}

.task-item {
  background-color: #fff;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.task-item:hover {
  background-color: #f9f9f9;
}

.checkbox {
  margin-right: 10px;
}

.task-name {
  text-decoration: none;
  color: #020202;
  margin-left: 10px;
  font-size: 16px;
  flex-grow: 1;
}
.task-name-des {
  text-decoration: none;
  color: #020202;
  margin-left: 20px;
  font-size: 10px;
  flex-grow: 1;
}
.completed {
  text-decoration: line-through;
  color: rgb(177, 17, 17);

}


.edit-button,.delete-button,.cancel-button, .save-button {
  padding: 5px;
  background-color: #ccd2f8;
  color: #070707;
  /*border: none;*/
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  margin-left: auto;
  transition: background-color 0.3s ease;
}
.edit-button img, .delete-button img, .save-button img, .cancel-button img, .save-button img  {
  margin-right: 5px;
  height: 20px;
  width: 20px;
  
}

.edit-button:hover{
  background-color: #0efaab;
  }
  .save-button:hover{
    background-color: #0efaab;
  }
.delete-button:hover {
  background-color: #d84d4d;
}
.task-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button-group {
  margin-left: auto;
}

.button-group button {
  margin-left: 10px;
}
.icon-button{
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
}
